<div class="nav">
  <nav class="navbar navbar-light" id="navbar">
    <h2 id="budgetly">Budgetly</h2>
    <form class="form-inline">
      <button class="btn btn-sm btn-outline-secondary" id="expense-button" type="button">Expenses</button>
      <button class="btn btn-sm btn-outline-secondary" id="logout-button" type="button">Logout</button>
    </form>
  </nav>
</div>
</header>
<main>
  <div class="parent">
    {{!-- PIe chart to show budget goals --}}
    <div class="chart">
      <div class="welcome-div" id="title">
        <h1>Monthly Spending</h1>
        <div id="no-goals-yet"></div>
        </div>
        
      <svg id="pie-chart" width="500" height="400"></svg>
    </div>


    <div class="goals">
      <div class="welcome-div" id="title">
        <h1>My Goals</h1>

        {{!-- Display Budget Goals of the user --}}

        <div>
          <b>{{user.name}}'s Current Budget Goals:</b>
          <div class="row justify-content-center">
            <div class="col-md-6 ">
              <table class="table table-bordered table-responsive">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Budget Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Fund Remaining</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each budgets as |Budget|}}
                  <tr id="{{Budget.category_id}}">
                    <td>{{Budget.category_name}}</td>
                    <td>${{Budget.amount}}</td>
                    <td>${{Budget.fund_remaining}}</td>
                    {{!-- <td>${{fund_left}}</td> --}}
                    <td>{{format_time Budget.date_created}}</td>
                    <td><button data-id="{{Budget.category_id}}" class="del-btn btn btn-info">Delete</button></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>

            </div>
          </div>

        </div>

        {{!-- Add new goals --}}
        <div>
          <b>Budget Goals Actions</b>
        </div>
        {{!-- Radio button for various actions --}}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="addGoal" name="box">
          <label class="form-check-label" for="inlineCheckbox1">Add a New Goal</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox2" value="updateGoal" name="box">
          <label class="form-check-label" for="inlineCheckbox2">Update a Goal</label>
        </div>
        {{!-- Form to get goal information --}}
        <form id='form-new-goal' class='new-goal-form'>
          <div id="amt-label">
            <b>Budget Category</b>
          </div>
          <div>
            <select id="category" class="form-select" aria-label="Default select example">
              <option selected>Category</option>
              <option value="1">Food</option>
              <option value="2">House Loan</option>
              <option value="3">Personal</option>
              <option value="4">Savings</option>
              <option value="5">Transportation</option>
            </select>
          </div>
          <div>
            <div id="amt-label">
              <b>Budget Amount</b>
            </div>
            <div id="amt" class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input id="amount" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
          </div>
          <div class="goal-button">
            <button type="button" class="btn btn-outline-info" id="clickButton">+</button>
          </div>
      </div>
      </form>

    </div>
</main>
<nav class="bottom-nav">
  <div>Budgetly</div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/js/pie-chart.js"></script>
<script src="/js/add-goal.js"></script>
<script src='/js/logout.js'></script>

</div>