<div>
  Monthly Spending
</div>
<div class="chart-inputs">
    <form class="new-chart">
          <label for="Savings">
            Savings:
          </label>
          <br />
          <input id="Savings" type="number" name="Savings" value="{{savings}}">
          <br />

          <label for="house_loan">
            Loans:
          </label>
          <br />
          <input id="house_loan" type="number" name="house_loan" value="{{house_loan}}">
          <br />

          <label for="food">
            Food:
          </label>
          <br />
          <input id="food" type="number" name="food" value="{{food}}">
          <br />

          <label for="transportation">
            Transportation:
          </label>
          <br />
          <input id="transportation" type="number" name="transportation" value="{{transportation}}">
          <br />

          <label for="personal">
            Personal:
          </label>
          <br />
          <input id="personal" type="number" name="personal" value="{{personal}}">
          <br />
          <br />

          <button type="submit" class="btn btn-outline-info">
            submit
          </button>

    </form>
</div>

<script src="/public/js/pie-chart.js"></script>